@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.bodyClone {
  position: relative;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

.but {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background: rgb(57, 57, 165);
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.sideNav {
  overflow-x: hidden;
  padding-left: 1rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: auto;
  min-height: 90vh;
  width: 5rem;
  border-radius: 1rem;
  background: rgb(57, 57, 165);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: width 0.5s ease;
  &.expand {
    width: 15rem;
  }

  .title {
    margin-left: 2rem;
  }
}

li {
  // transition: 0.3s;
  margin: 1rem 0;
  position: relative;
  width: 100%;
  list-style: none;
  padding: 1rem;
  white-space: nowrap;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  &.active {
    background: rgb(255, 255, 255);
    a {
      color: black;
    }
    &:hover {
      background-color: #fff;
      a {
        color: black;
      }
    }
  }
  &:hover {
    background: rgb(102, 102, 199);
  }

  ion-icon {
    font-size: 1.5rem;
  }
}

a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

li b {
  height: 1rem;
  position: absolute;
  width: 100%;
  background: rgb(57, 57, 165);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(57, 57, 165);
  }
  &.active {
    background: white;
  }
}

li b:nth-child(1) {
  bottom: 100%;
  right: 0;
  &::before {
    border-bottom-right-radius: 1rem;
  }
}

li b:nth-child(2) {
  top: 100%;
  right: 0;
  &::before {
    border-top-right-radius: 1rem;
  }
}
